/*navigation bar*/
@font-face {
    font-family: chalk;
    src: url('rudiment/Rudiment/Rudiment.ttf');
}

body {
    margin: 0;
    padding: 0;
}

.nav-wrapper {
    display: flex;
    padding-left: 520px;
    padding-top: 30px;
}
.nav-wrapper a {
    font-family: chalk;
    font-size: 18px;
    font-weight: 400;
    line-height: 80px;
    padding: 12px 8px;
    color: #BFC9CA;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

.nav-wrapper a:hover {
    filter: brightness(40%);
}

.bgImgCenter {
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(rgba(0, 1, 0, 0.65), rgba(0, 1, 0, 0.65)), url('images/image.jpg');
    background-repeat: no-repeat;
    opacity: 1;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
}

.writing {
    position: center;
    width: 900px;
    height: 40px;
    padding-left: 200px;
    padding-top: 0px;
    padding-bottom: 50px;
}

.quote {
    font-size: 20px;
    font-weight: 400;
    font-family: chalk;
    color: #BFC9CA;
    text-align: center;
    text-transform: uppercase;
}

.nietzsche {
    font-size: 15px;
    font-weight: 400;
    font-family: chalk;
    color: #BFC9CA;
    text-align: center;

}
.nav-below {
    display: flex;
    padding-left: 520px;
    padding-top: 10px;
}
.nav-below a {
    padding: 12px 15px;
    color: #BFC9CA;
    transition: .3s;
}

.nav-below a:hover {
    filter: brightness(40%);
}
/* interest */
.container {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 380px;
    padding-right:300px;
    padding-top: 150px;
    padding-bottom: 80px;
}

.portfolio-all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*align-items: center;*/
}
.portfolio-single {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-top: 10px;
    align-items: center;
}

.subtitle {
    font-family: chalk;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.img-darken {
    transition: 1s;
    filter: brightness(30%);
}