/*navigation bar*/
@font-face {
    font-family: chalk;
    src: url('rudiment/Rudiment/Rudiment.ttf');
}

body {
    margin: 0;
    padding: 0;
}

.nav-wrapper {
  float: none;
  position: absolute;
  left: 50%;
  top:5%;
  transform: translateX(-50%);
}
.nav-wrapper a {
    font-family: chalk;
    font-size: 24px;
    font-weight: 400;
    color: #BFC9CA;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    padding: 10px;
    text-align: center;
    /* white-space: nowrap;
    overflow: hidden; */
}

.nav-wrapper a:hover {
    filter: brightness(40%);
}

.bgImgCenter {
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(rgba(0, 1, 0, 0.65), rgba(0, 1, 0, 0.65)), url('images/image.jpg');
    background-repeat: no-repeat;
    opacity: 1;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
}

.quote {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 30px;
    font-weight: 400;
    font-family: chalk;
    color: #BFC9CA;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, 0%);
}

.nietzsche {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 24px;
    font-weight: 400;
    font-family: chalk;
    color: #BFC9CA;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, 0%);
}

.nav-below {
    display: flex;
    position: absolute;
    bottom:5%;
    padding-left: 520px;
    padding-top: 10px;
}
.nav-below a {
    text-decoration: none;
    padding: 12px 15px;
    color: #BFC9CA;
    transition: .3s;
}

.nav-below a:hover {
    filter: brightness(40%);
}
/* interest */
.container {
    display: grid;
    grid-template-columns: 1fr;

}
.portfolio-all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*align-items: center;*/
}
.portfolio-single {
    align-items: center;
}

.subtitle {
    font-family: chalk;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.img-darken {
    transition: 1s;
    filter: brightness(30%);
}